/*<!--------------------------------START CSS DEFAULT-------------------------------*/
@font-face{font-family:'IRANSansWeb';src:url('../_fonts/IRANSansWeb(FaNum).ttf') format('truetype'), url('../_fonts/IRANSansWeb(FaNum).eot') format('embedded-opentype');font-weight:normal;font-style:normal;font-display: fallback}
@font-face{font-family:'IRANSansWebEnNum';font-display: fallback ;font-style:normal;font-weight:lighter;src:url('../_fonts/IRANSansWeb_Medium.eot');src:url('../_fonts/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),
url('../_fonts/IRANSansWeb_Medium.woff2') format('woff2'),
url('../_fonts/IRANSansWeb_Medium.woff') format('woff'),
url('../_fonts/IRANSansWeb_Medium.ttf') format('truetype');
}
*{text-decoration:none;list-style-type:none;margin:0px;padding:0px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
html, body{font-family:'IRANSansWeb';height:100%;}
input:focus, textarea:focus, select:focus, button:focus{outline:none !important;}
input, button, select, textarea, option{border: none;background: none;font-family:'IRANSansWeb';appearance: none;-webkit-appearance: none;-moz-appearance: none;-o-appearance: none;-s-appearance: none;}
main {width: 100%;height: auto;}
a, i, span{display:inline-block;font-style:normal;vertical-align:middle;}
a, i, span, p, h1, h2, h3, h4, input, button{-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-ms-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.transition{-webkit-transition:all 0.5s ease-in-out;-moz-transition:all 0.5s ease-in-out;-o-transition:all 0.5s ease-in-out;-ms-transition:all 0.5s ease-in-out;transition:all 0.5s ease-in-out;}
.clr{clear:both;} 
.font_9{font-size: 9px;}
.font_10{font-size: 10px;}
.font_11{font-size: 11px;}
.font_12{font-size: 12px;}
.font_13{font-size: 13px;}
.font_14{font-size: 14px;}
.font_15{font-size: 15px;}
.font_16{font-size: 16px;}
.font_17{font-size: 17px;}
.font_18{font-size: 18px;}
.font_19{font-size: 29px;}
.font_20{font-size: 20px;}
.width_5{width: 5%;}
.width_10{width: 10%;}
.width_15{width: 15%;}
.width_20{width: 20%;}
.width_25{width: 25%;}
.width_30{width: 30%;}
.width_40{width: 40%;}
.width_50{width: 50%;}
.width_49{width: 49%;}
.width_60{width: 60%;}
.width_70{width: 70%;}
.width_80{width: 80%;}
.width_90{width: 90%;}
.width_95{width: 95%;}
.width_100{width: 100%;}
.p-relative {position: relative;}
.p-absolute {position: absolute;}
.d-row {display: flex;flex-wrap: wrap;}
.text-justify{text-align: justify;}
.text-left{text-align: left;}
.text-right{text-align: right;}
.text-center{text-align: center;}
.float-right {float: right;}
.float-left {float: left;}
.EnNum{font-family:'IRANSansWebEnNum';}
.bc-main{width: 1200px; margin: 0 auto;}
.visible{display: block;}
.unvisible{display: none;}
.font-weight{font-weight: bold;}
.cursor-pointer{cursor: pointer;}
.border-radius{border-radius: 4px;}
.dir-rtl{direction: rtl;}
.dir-ltr{direction: ltr;}
.background-body{background: #f5f6f9;}
.hvr-horizontal {-webkit-transform: perspective(1px) translateZ(0);transform: perspective(1px) translateZ(0);box-shadow: 0 0 1px rgba(0, 0, 0, 0);cursor: pointer; -webkit-transition-property: color;transition-property: color;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;}
.hvr-horizontal:before {content: "";position: absolute;z-index: -1;top: 0;bottom: 0;left: 0;right: 0;background: #dc2c2b;-webkit-transform: scaleX(0);transform: scaleX(0);-webkit-transform-origin: 50%;transform-origin: 50%;-webkit-transition-property: transform;transition-property: transform;-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-timing-function: ease-out;transition-timing-function: ease-out;border-radius: 20px;}
.hvr-horizontal:hover, .hvr-horizontal:focus, .hvr-horizontal:active {color: #fff;}
.hvr-horizontal:hover:before, .hvr-horizontal:focus:before, .hvr-horizontal:active:before {-webkit-transform: scaleX(1);transform: scaleX(1);}
*.background-color_1{ background-color:#fdc43e;}
*.background-color_2{ background-color: #fa660b;}
*.background-color_3{ background-color: #5c5d5f;}
*.background-color_4{ background-color: #edf7f8;}
*.background-color_5{ background-color: #dc2c2b;}
*.background-color_white{ background-color: #fff;}
*.color_1{color: #fdc43e;}
*.color_2{color: #fa660b;}
*.color_3{color: #5c5d5f;}
*.color_4{color: #edf7f8;}
*.color_5{color: #dc2c2b;}
*.color_white{color: #fff;}
*.color_black{color: #000;}
*.color_gray{color: #525252;}
.btn_2{padding: 0.6em 1em;min-width: 120px;text-align: center;}
.overflow-x{overflow-x: hidden;}
.background-color-body {background-color: #f5f4fb;}
.item-countainer{padding: 2.5em 0;}
/*<!--------------------------------START CSS INDEX PAGE-------------------------------*/
/*<!--------------------------------START CSS HEADER-------------------------------*/
.header-left-part{padding:0.8em 0 0.5em;}
.header-bottom-part{padding: 0.8em 0;}
.header {background: linear-gradient(90deg, rgb(253, 196, 62) 0%, rgb(253, 196, 62) 55%, rgb(220, 44, 43) 89%);}
.is-sticky {position: fixed !important;top: 0px;padding: 0 !important;box-shadow: 2px 3px 4.7px 0.3px rgba(49, 45, 101, 0.24); z-index: 99;width: 100%;}
/*<!--------------------------------START CSS MENU-------------------------------*/
.section-menu {margin: 1.6em 1.6em 0 0;}
.section-menu .nav-bar > li{position:relative;display: inline-block;}
.section-menu .nav-bar > li:not(:first-child){padding: 0 1em;}
.section-menu .nav-bar > li:first-child{padding: 0  0 0 1em ;}
/* .section-menu .nav-bar > li.active > a::before {content: '';position: absolute;top: 97%;width:100%;height: 3px;margin-top: 11px;background: #fa660b;transition: .3s all ease;} */
.section-menu .nav-bar > li:not(.active) > a::before {content: '';left:50%;position: absolute;top: 97%;width:0;height: 3px;margin-top: 11px;background: #fa660b;transition: .3s all ease;}
/* .section-menu .nav-bar > li:not(.last){border-left: 1px solid rgba(255, 255, 255, 0.2);} */
.section-menu .nav-bar > li.has-sub-menu > span::after {content: "\f107";font-family: "fontawesome"; color: #454545;padding-right: 1em;vertical-align: middle;}
.header .nav-bar > li > .sub-menu{background: #fbfbfb;width:250px;box-shadow:0 1px 3px rgba(0, 0, 0, 0.2);position:absolute;border-radius: 4px;top:215%;right:0;visibility:hidden;z-index:100;min-width:250px;}
.header .nav-bar > li > .sub-menu li > a:hover{color: #dc2c2b;}
.header .nav-bar > li:hover > .sub-menu{visibility:visible;}
.header .nav-bar > li > .sub-menu li{position:relative;}
.header .nav-bar > li > .sub-menu li > a{color:#454545;display:block;font-size:13px;font-weight:400;line-height:28px;padding:0 15px;text-align:right}
.header .nav-bar > li > .sub-menu .sub-menu li a{padding:5px 20px;}
.header .sub-menu .icon-arrow:before{content:"\f0d9";display:inline-block;font-family:'fontawesome';font-feature-settings:normal;font-kerning:auto;font-language-override:normal;font-size:100%;font-size-adjust:none;font-stretch:normal;font-style:normal;font-synthesis:weight style;font-variant:normal;font-weight:normal;line-height:inherit;text-rendering:auto;transform:translate(0px, 0px);}
.header .nav-bar > li > .sub-menu li{padding:0;transition:padding 0.3s linear 0s;-webkit-transition:padding 0.3s linear 0s;}
.header .nav-bar > li:hover > .sub-menu > li{padding:3px 0;}
.header .nav-bar > li > .sub-menu li .sub-menu{border-radius: 4px;opacity:0;position:absolute;top:0;right:80%;visibility:hidden;-webkit-transition:opacity 0.3s linear, left 0.3s linear;transition:opacity 0.3s linear, left 0.3s linear;z-index:0;}
.header .nav-bar > li > .sub-menu li:hover > .sub-menu{visibility:visible;opacity:1;right:100%;z-index:10;}
.section-menu .nav-bar .fa-angle-down{color: #b9b9b9;vertical-align: sub;padding-right: 5px;}
.section-menu .nav-bar > li > a:hover,.section-menu .nav-bar > li > a:hover::after,.section-menu .nav-bar > li.has-sub-menu > span:hover,.section-menu .nav-bar > li.has-sub-menu > span:hover::after{color: #fff;}
.section-menu .sub-menu::before {position: absolute; top: -9px;right: 12px;display: inline-block;border-right: 9px solid transparent;border-bottom: 9px solid #fff;border-left: 9px solid transparent;content: '';}
.Login_Information .fa-user{border: 1px solid #fff;border-radius: 50%; width: 20px; height: 20px; line-height: 20px;margin-right: 0.2em;text-align: center;}
.Login_Information{line-height: 75px;}
.language-section {min-height: 75px;}
.default-language{line-height: 75px;}
.language-section svg{vertical-align: middle;margin-right: 0.5em;}
.default-language::after{content: "\f107";font-family: "fontawesome";color: #fdc43e; font-weight: bold;margin-left: 0.5em;font-size: 16px;}
.dropdown-language ul li{padding: 0.5em;}
.dropdown-language ul li:hover span{color: #fdc43e;}
.dropdown-language{right: 0;z-index: 99;border-radius: 0 0 4px 4px;padding: 1em;}




.notification-container .fa-info{border: 2px solid;width: 30px;height: 30px;line-height: 26px;text-align: center;border-radius: 50%;}
.notification-container {background-color: #8d8d8d;padding: 0.5em 0;}
.notification-date{opacity: .6;}
.notification-link{padding: 0 1em;margin: 0 1em;}

.app-banner{background-image: url("../images/pegasus-app-banner.jpg");min-height: 520px;background-position: center center;background-size: cover;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.inner-section{background: #f3f5f8;padding: 1em;max-height: 520px;overflow: auto;min-height: 520px;}
.link-news{border-radius: 20px;background:#eb9c00;}
.link-content{left: 0;right: 0;bottom: 1em;}

.mega-menu figure{background: #fa660b;border-radius: 50%;width: 50px;height: 50px;line-height: 50px;}
.mega-menu ol li{padding: 1em;}
.mega-menu ol li:hover{background-color: rgba(250,102,11,0.4);}
.mega-menu{z-index: 99;top: 4.8em;box-shadow: 0 10px 15px -3px rgba(0,0,0,.1),0 4px 6px -2px rgba(0,0,0,.05);border-top: 1px solid #e5e5e5;border-radius: 0 0 4px 4px;}
.mega-menu svg{margin-top: 0.5em;}
/*<!--------------------------------END CSS MENU-------------------------------*/
/*<!--------------------------------START CSS LOGIN REGISTER-------------------------------*/

/*<!--------------------------------START CSS LOGIN REGISTER-------------------------------*/
/*<!-------------START CSS SEARCH BOX-------------*/
.cover-image {width: 100%;height: 100%;background-repeat: no-repeat !important;position: relative;}
.banner-searchbox{background-image: url(../images/search_sample.jpg);min-height: 390px;background-size: cover;}
.search-box-container{top: 18em;}
.section_search_box {border-radius: 30px;-webkit-box-shadow: -1px 44px 36px 18px rgba(219,229,236,1);-moz-box-shadow: -1px 44px 36px 18px rgba(219,229,236,1);box-shadow: -1px 44px 36px 18px rgba(219,229,236,1);}
.section-header-text h1{font-size: 2.2em;color: #37323e;}
.section-header-text{margin-bottom: 4em;}    
.reservation-item li {display: inline-block;text-align: center; letter-spacing: .5px;width: 130px;}
.reservation-item li:not(.active-item-search){color: #989898;}
*.active-item-search {color: #1a80c3;}
*.active-item-search svg{fill:#1a80c3 !important;}
.reservation-item li:not(:last-child){border-left: 2px solid #e4e4e4;}
*.reservation-item img ,.reservation-item svg{margin-right: 0.5em;vertical-align: middle;fill:#989898;}
.flight-type li{display: inline-block;padding: 2px 6px;border-radius: 20px;}
.flight-type {margin-bottom: 1em;}
/* .input-container{width: 92%;}  */
.input-container .fa-angle-down{right: 0;color: #505050;top: 0.5em;}
.row-top-search-box {margin-bottom: 1em;}
.row-bottom-search-box{background: #fff;box-shadow: 5px -2px 15px #e4e4e4;padding: 1.5em;}  
.inner-section_search_box{margin-top: 4em; width: 95%;} 
.form-search-btn {left: 0;right: 0;margin: 0 auto;bottom: -3.5em;border-radius: 20px;}
.section-result-search .count-adult,.section-result-search .count-child,.section-result-search .count-room{margin-top: 5px;}
.section-result-search  .count{padding-left: 3px;}
.searchList {border: solid 1px #e7e7e7;width: 100%;padding: 0.4em;text-align: right;left: 0;direction: rtl;background: #fff;right: 0;z-index: 999;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);border-radius: 4px;}
.searchList::before{content: '\f0d8';
    font-family: 'fontawesome';
    color: #989898;
    position: absolute;
    right: 20px;
    top: -19px;
    font-size: 25px;}
.searchList ul li {padding: 0.5em;border-bottom: 1px solid #f1f1f1;cursor: pointer;}
.searchList ul {max-height: 200px;
    overflow: auto;}
.searchList ul li:not(:first-child):hover {background: #f0f0f0;}
.searchList ul li .fa,.countryFlight i{color: #9b9b9b;padding-left: 0.5em;}
.category-title {color: #fff !important;cursor: inherit !important;}
.mini-loading {left: 1em;top: 1em;}
.Wrapper-CountPassenger { cursor: pointer; }
.count-adult, .count-child, .count-room, .count-passenger { width: 33.3%; float: right; text-align: center;  }
.count-infant { width: 33.3%; float: left; font-size: 11px; color: #000; text-align: center; display: none; }
.count { font-size: 13px; color: #444; }
.CountPassenger {padding: 1em 2em;box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2);left: 0;top: 7.4em; z-index: 99; background: #fff;color: #424242; line-height: 25px; margin: 0 auto; border-radius: 4px; }
.passenger-button { width: 33.3%; float: right; text-align: center; }
.second-part-CountPassenger ul {display: inline-flex;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 24px;
    align-items: center;}
.second-part-CountPassenger ul li{align-items: center;
        justify-content: center;
        display: flex;
        cursor: pointer;
        width: 36px;
        height: 32px;
        position: relative;
        z-index: 2;}
        .second-part-CountPassenger ul li.selected{color: #fff;
            font-weight: 900;}
            .second-part-CountPassenger ul li.selected::after {
                width: 100%;
                height: 38px;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                content: "";
                background: #fdc43e;
                border-radius: 4px;
                box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);
                z-index: -1;}
                .second-part-CountPassenger ul li:not(.selected):hover:after {
                    width: 26px;
                    height: 26px;
                    position: absolute;
                    left: 5px;
                    top: 50%;
                    transform: translateY(-50%);
                    content: "";
                    background: #f2f2f2;
                    border-radius: 4px;
                    z-index: -1;
                }
                .second-part-CountPassenger ul li:hover {
                    font-weight: 900;}
                    .flight-class li:hover::after {
                        width: 100% !important;
                        
                        left: 0 !important;
                      
                       
                     
                    }
.flight-class li{width: auto !important;
                    padding: 0 1.2em;}
.plus-minus span, .plus-minus-ch span, .plus-minus-ins span {width: 100%; font-size: 25px;height: 22px; line-height: 25px; text-align: center; color: #fff; display: inline-block;cursor: pointer; }
.plus-minus span:hover, .plus-minus-ch span:hover, .plus-minus-ins span:hover {  background:#fff; }
.minus-btn{border-radius: 4px 0 0 4px;}
.plus-btn{border-radius: 0 4px 4px 0;}

.CountPassenger::before{content:'\f0d8';font-family: 'fontawesome';color:#989898; position:absolute;left:20px;top:-18px;font-size:25px; }
.item-CountPassenger input { height: 22px;	margin-top: 1px;width: 100%; text-align: center; border-top: 1px solid#eee; border-bottom: 1px solid #eee;}
.ShowRow {max-height: 260px;overflow: auto;}
.createChildDropdown { width: 50%; float: right;}
.createChildDropdown select ,.datepicker.BithdatePassenger{ text-align: right;width: 90%;padding: 0 2px; font-size:11px;border: 1px solid #eee;border-radius: 4px; -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }
.createChildDropdown label { font-size: 10px; display: block; }
.select-arrow::before{content: "\f107";font-family: 'fontawesome'; position: absolute;left: 1em;color: #505050;top:2.5em;font-weight: 900;z-index: 9;}
.arrow-select{left: 10px;top: 15px}
.confirm_search {text-align: center;border-radius: 20px;}
.countryFlight { text-align: left; max-height: 200px; overflow: auto;}
.parent-item{width: 100%;}
.child-item {width: 100%;padding-left: 10px;}
.countryFlight .selectCountry:hover { background: #f0f0f0; }
.selectCountry {padding: 5px;cursor: pointer;}
.selectCountry:not(:last-child){border-bottom: 1px solid #f1f1f1;}
.selectCountry i{float: left;margin: 3px;width: 5%;}
.selectCountry .txtcountry {float: right;word-break: break-all;width: 90%;}
.share input{float: right; margin: 2px 2px 2px 10px;}
.share {margin-top: 5px;}
.FlightClass{width: 100%;padding-right: 1em;}
.second-part-CountPassenger::before{left: 2px !important;top: 0 !important;}
.add-room { color: #fff; text-align: center;  cursor: pointer;border-radius: 4px 4px 0 0;}
.RoomRow { padding: 0 13px; background: #f2f6fa; }
.contentRoom { border-bottom: 1px solid #f1f1f1; }
.delete-room { float: left;  color: #dc2c2b; padding: 0 5px; cursor: pointer;  }
.BirthdatePassenger {margin-bottom: 5px;}
.datepicker.BithdatePassenger {width: 100%;padding: 0 5px !important;}
.tourname{background: #fff;padding: 9px;box-sizing: border-box;width: 100%;border: none;-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;-o-appearance: none;appearance: none;}
.section-input_list input[type="checkbox"] {width: 17px;height: 17px;cursor: pointer;top: 0;z-index: 9;opacity: 0;right: 0;}
.section-input_list label {font-size: 12px;color: #848484;}
.section-input_list .checkbox {width: 100%;text-align: right;}
.section-input_list span::before, .section-input_list span::after{content: '';position: absolute;top: 0;width: 14px;height: 14px;border-radius: 4px;}
.section-input_list span.checkbox::before {right: 0.5em;top: 0.5em;transition: border-color .2s;}
.section-input_list input[type="checkbox"]:checked + label span.checkbox::after {color: #fff;}
.section-input_list span.checkbox::after {content: '\f00c';font-family: "fontawesome";font-weight: 600;top: 0.5em;right: 0.5em;color: transparent;transition: color .2s;width: 17px;height: 17px;line-height: 14px;text-align: center;font-size: 10px;}
.section-input_list input[type="radio"]{width: 15px;height: 15px;cursor: pointer;top: 0;z-index: 9;opacity: 0;right: 0;}
.section-input_list span::before, .section-input_list span::after{content: '';position: absolute;width: 12px;height: 12px;border-radius: 50%;}

.section-input_list span.checkbox::after {content: '\f00c';font-family: "fontawesome";top: 0.7em;right: 0.7em;color: transparent;transition: color .2s;width: 15px;height: 15px;line-height: 16px;text-align: center;font-size: 10px;}
*.section-input_list input[type="checkbox"]:checked + label span.checkbox::after  {background: #fdc43e;}
*.section-input_list span.checkbox::before {border: 2px solid #505050;}
*.section-input_list input[type="radio"]:checked + label span.checkbox::before{border-color:#fdc43e ;}
*.section-input_list input[type="radio"]:checked + label span.checkbox::after {color: #fff;background: #fdc43e;}
.text-checkbox {margin-right: 1.5em;}
.selected-number,.selected-day{margin-left: 0.3em;}




.fa-exchange-alt{top: 1.8em;width:40px;height: 40px;line-height: 40px !important;text-align: center;left: -1.2em;z-index: 1;border-radius: 100%;box-shadow: 0 1px 30px 0 rgba(0, 0, 0, 0.1);}


.active-flight-type{background: #e7e7e7;}
.active-flight-type .text-checkbox{color: #000000;}
#item-Flight{box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1);background-color: #fff;padding: 2em 1em;}

#flight-form {display: flex;align-items: center;border: solid 1px #e7e7e7;}
.city ,.Basis_Date_Box .result-for {height: 95px;border-left: solid 1px #e7e7e7;padding: 0.5em 1em;}
.passenger_section{height: 95px;padding: 0.5em 1em;}
.Basis_Date{
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-top: 65px;
    padding-right: 1em;}
.city.des{margin-right: 1em;}
.count-passengers{margin-left: 0.5em;}
.count-passengers:not(.unvisible){display: inline-block;}
.section-select-age .select-arrow{width: 25%;}
.section-select-age label{font-weight: 700;
    margin-bottom: 0.5em;}

.Noactive-date {
    background: #efefef;
    color: #ccc;
}
.Noactive-date span,.Noactive-date i,.Noactive-date input{color: #ccc;}
.form-search-input{height: 35px;
    background-color: #f8f7fc;
    border: 1px solid #e5e4f0;padding: .375rem .75rem;margin-bottom: 0.5em}
    .select-search-input{width: 95%;height: 35px;padding: .375rem .75rem;  margin-bottom: 1em; font-size: 12px;   background-color: #ffffff; box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2);}
    .first-part-CountPassenger {
        font-weight: 700;
        margin-bottom: 0.5em;
    }
.half-circle {
    width: 50px;
    height: 100px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;box-sizing: border-box;
    right: -3em;top: 3.5em;box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
}
.half-circle svg{margin-top: 1.5em;margin-right: 0.3em;fill: #fdc43e;}

.background-section-side{background-color: rgb(56 7 7 / 52%);height: 100%;left:0; top: 0;width: 59.1%;}
.svg-about{  height: 100%; right: 0;}








/*<!-------------END CSS SEARCH BOX-------------*/




.item-countainer.first{margin-top: 12em;}

.title-container{padding: 0.5em 0;}
.english-title{color: #cacaca;text-transform: uppercase;}
.linear-divider::after, .linear-divider::before {
    content: "";
    background: #fdc43e;
    width: 35px;
    display: inline-block;
    height: 2px;
    position: relative;
    top: -.9em;
    
}
.linear-divider::after {
    margin-left: 1px;
}
.linear-divider::before {
    margin-right: 1px;
}
.linear-divider {
    margin-top: 0.3em;
}
.linear-divider .fa{background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;display: inline-block;
    width: 2em;height: 2em;}


    .airlines-container .inner-content {
        display: flex;
        align-items: center;margin: 0.5em;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
        min-height: 110px;}
        .airlines-container .inner-content::before{pointer-events:none;position:absolute;z-index:-1;content:'';top:100%;left:5%;height:10px;width:90%;opacity:0;background:-webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);background:radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);-webkit-transition-duration:0.3s;transition-duration:0.3s;-webkit-transition-property:transform, opacity;transition-property:transform, opacity;}
    .airlines-container h3{margin-bottom: 0.3em;}
    .airlines-container .inner-content:hover .hover-content{
        opacity:1;
        /* background:linear-gradient(180deg, #dc2c2b,#fdc43e); */
        }
.hover-content{bottom: 0;left: 0; right: 0;top: 0;opacity: 0;}
.golden .hover-content,.golden .inner-content{background: #117390;}
.hover-content h3{line-height: 110px;}
        /* .airlines-container .inner-content:hover::before{opacity:1;-webkit-transform:translateY(5px);transform:translateY(5px);} */

    .banner-about{background-image: url(../images/about_sample.jpg);min-height: 500px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
    .about-container {padding-bottom: 0;}
    .honor-container ol li{width: 33.3%;padding: 2.5em 1em;}
    .honor-container h4{margin-bottom: 0.5em;}
    .border-left{border-left: solid 2px #e7e7e7;}
    .border-bottom{border-bottom: solid 2px #e7e7e7;}
    .honor-container ol{box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
    .honor-container ol.first{border-radius: 4px 4px 0 0;}
    .honor-container ol.last{border-radius:  0 0 4px 4px;}
    .honor-container ol li:hover{
        background-color:#fdc43e;

       color: #fff;}
       .honor-container ol li .svg{transition: all .2s ease-in-out;}
       
    .honor-container ol li:hover .svg{fill: #fff;transform: scale(1.2);}
  


    .about-content{border-radius: 4px 4px 0 0;padding: 1em;}
    .about-content .sub-title{margin-bottom: 1em;}
    .about-content .text-justify{line-height: 2.3em;}
.about-container .bc-main{bottom: -1px;left: 0;
    right: 0;}

.cetificate-container figure{top: -1.5em;}
.links-content {
    margin-top: 1em;
}

.city-name{ display: inline-block;}
.news-container .item-cart-body{border-right: solid 1px #e7e7e7;padding-right: 1em;} 
.news-container .item-cart .text-justify{line-height: 2.3em;}

.news-container ul li{border-bottom: 1px solid #e5e5e5;padding: 1em 0;}
.news-container ul li header{margin-right: 0.5em;display: inline-block;}
.news-container ul li figure{vertical-align: middle;display: inline-block;}
.news-container ul li a:hover{color: #dc2c2b;}
.news-container ul li img{transition: all .2s ease-in-out;}
.news-container ul li a:hover img{transform: scale(1.1);}
.news-container ul li a:hover .fa-angle-double-left{-webkit-transform: translateX(4px);
-moz-transform: translateX(4px);
-ms-transform: translateX(4px);
-o-transform: translateX(4px);
transform: translateX(4px);}
.news-container h5{font-weight: initial;}
.section-news{width: 33.3%;}
.section-news .inner-section{width: 95%;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.section-news .linear-divider .fa{height: 2.4em;}
.section-news .fa-angle-double-left{margin: 0.3em 0 0 0.5em; -webkit-transition: transform 0.3s ease-out;
    -moz-transition: transform 0.3s ease-out;
    -ms-transition: transform 0.3s ease-out;
    -o-transition: transform 0.3s ease-out;
    transition: transform 0.3s ease-out;}

.header-section{border-radius: 30px;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);padding: 0.8em 1em; margin: 0 auto;top: 1.5em;
    z-index: 99;}
.header-section li{width: 33.3%;z-index: 9;}


.item-features{top: -8.5em;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;padding:1em 2em;left: 0;right: 0;margin: 0 auto;}
.item-features h4{display: inline-block;}
.item-features-body ul li {width: 33.3%;margin-bottom: 2.5em;}

.item-features-body ul li:hover{color: #dc2c2b;}
.item-features-body svg {vertical-align: middle;margin-left: 1em;transition: all .2s ease-in-out;}




.handler{background: #e7e7e7;border-radius: 20px;height: 30px;z-index: 1;top: 0.6em;}
.body-section{margin: 0 auto;}
.body-section .number{font-size: 6.5em;}
.body-section ol li.last{background-color: rgb(249, 251, 255);border-radius: 20px 0 0 20px;}
.body-section ol li.first{background-color:#f0f0f0;border-radius:0  20px 20px 0;}
.body-section ol li.middle{background-color:#f3f5f8;}
.body-section ol{box-shadow: 0px 26px 43px 0px rgba(22,28,86,0.13);border-radius: 20px;}
.body-section li{width: 33.3%;height: 300px;padding: 6em 0;} 



.question-container li:not(:last-child){border-bottom: solid 1px #e7e7e7;}
.question-container .bc-main{padding: 1em 0}
.question-container li .question{padding: 1.5em;}
.question-container li.active .question{background-color: #fdc43e;color:#fff}
.question-container li.active .fa{color:#fff}
.question-container .answer p{padding: 1.5em;}




/*///////////////////////////////////////*/


.social-icons li{display: inline-block;list-style: none;}
.social-icons li a  {width: 35px;height: 35px;border-radius: 50%;line-height: 35px;margin: 1px auto;}
/* .social-icon.social-instagram{background:#ed145b;}
.social-icon.social-telegram{background:#2ca5e0;}
.social-icon.social-linkedin{background:#4e7aa3;}
.social-icon.social-facebook{background:#375f98;}
.social-icon.social-twitter{background:#0f9dd4;}
.social-icon.social-googleplus{background:#c94738;} */

.social-icons li:hover i,.list-footer .fa:hover{-webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
    transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);}
.list-footer a,.list-footer span{margin-left: 1.5em;line-height: 2;transition: opacity .2s;color: #fff;}
.footer .fa-angle-double-left,.list-footer .fa{margin-left: .5rem !important;}
.col-footer {
    margin: 2em 0;
}
.row-footer-middle ul li a:hover{color: #dc2c2b;}
.list-footer{margin: 1em 0;}
.row-footer{padding: 2em 2em 0 2em;}
.row-footer-top ,.row-footer-middle {border-bottom: 1px solid rgba(255, 255, 255, 0.3);}
.row-footer-middle ul li{display: inline-block;padding: 1em;}
.row-footer-middle  img{width: 80px;height: auto;}
.row-footer-bottom {color: #fff;padding: 0.75rem !important;}
.row-footer-bottom img{position: relative;top: 4px;margin-right: 7px;}
.footer img{-webkit-filter: brightness(0) invert(1);filter: brightness(0) invert(1);}
.image-left-footer{left: 0;top: 0;z-index: 9;}
.image-right-footer{right: 0;top: 0;z-index: 9;}
.footer {
    padding-top: 7em;
}
.footer iframe{margin-top: 1em; left: 0;top: -6em;border: 0;box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);}
.bg-footer{width: 93%;box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    background: #312f2f;}
/*///////////////////////////////////////*/



.newsletter-form button{width: 150px;
    padding: 0.9em 1em;
    border-radius: 30px;
    background: #edf7f8;left: 0;}
    .newsletter-form button:hover .far{color: #fff;}
.newsletter-form input{margin-bottom: 0.3em;
    padding: 1em;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 30px;}

.newsletter-form textarea{height: 40px;}

.next-item {
    -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  
    bottom: 0;
    cursor: pointer;
    height: 2.5rem;
    left: 50%;
    line-height: 2.5rem;
 

    width: 2.5rem;
}


.next-item:hover .fa{      -moz-animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    animation: bounce 2s infinite;}



    @keyframes bounce {
        0%, 20%, 50%, 80%, 100% {
          transform: translateY(0);
        }
        40% {
          transform: translateY(-10px);
        }
        60% {
          transform: translateY(-5px);
        }
      }

.next-item-container{margin: 2.5em 0 0 0;}
.scroll-handler-menu {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    width: 80px;
    height: 100vh;
    z-index: 100;
}
.scroll-handler-menu ul {transform: rotate(-90deg);display: inline-flex;}
.scroll-handler-menu ul li{white-space: nowrap;color: #999daa;margin: 0 1em;}
.scroll-handler-menu ul li a{color: #312f2f;}
.scroll-handler-menu ul li .line{  display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    top: 2em;
    background-color: rgba(153, 157, 170, 0.15);
    border-radius: 2px;
    /* transition: background-color 0.3s ease-in-out 0s; */
    background: linear-gradient(to left, rgba(153, 157, 170, 0.15) 50%, rgb(99, 99, 99) 50%) right;
    background-size: 200%;
    transition: 2s ease-out;}
    .line-active{background-position: left !important;}



@media (max-width:1200px){.first-part-header{display:none;}
.second-part-header{display:block;}
.header {padding-bottom: 1em;}
.col1-second-part-header,.col2-second-part-header{width: 33.3%; }
.col3-second-part-header {text-align: left; width: 33.3%; }
.col3-second-part-header a { float: left;right: inherit;left: 11px; }
.not-login-section {top: 12px !important;}
.col3-second-part-header .fa-user { padding: 2px 20px; font-size: 24px; }
.menu_link {display: block;width: 38px;position: relative;top: 12px;right: 11px;}
.second-part-header{height:50px;background: #f9f9f9;box-shadow: 0 6px 10px 0 rgba(145,171,187,.4);border-radius: 0 0 4px 4px;}
.second-part-header .not-login-section{display:block;width:38px;position:relative;top: 12px;}
.second-part-header .col1-second-part-header a:before,
.second-part-header .col1-second-part-header a:after{content:'';display:block;height:5px;}
.second-part-header .col1-second-part-header a span{display:block;height:5px;margin:6px 0;}
.top-menu { color: #fff;text-align: center; width: 100%; padding: 10px 0 5px 0; }
/*--------------START CSS  MENU-------------*/
:root{--mm-ocd-width:80%;--mm-ocd-min-width:200px;--mm-ocd-max-width:440px}
body.mm-ocd-opened{overflow-y:hidden;-ms-scroll-chaining:none;overscroll-behavior:none}
.mm-ocd{position:fixed;top:0;right:0;bottom:100%;left:0;z-index:9999;overflow:hidden;-ms-scroll-chaining:none;overscroll-behavior:contain;background:rgba(0, 0, 0, 0);-webkit-transition-property:bottom, background-color;-o-transition-property:bottom, background-color;transition-property:bottom, background-color;-webkit-transition-duration:0s, .3s;-o-transition-duration:0s, .3s;transition-duration:0s, .3s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease;-webkit-transition-delay:.45s, .15s;-o-transition-delay:.45s, .15s;transition-delay:.45s, .15s;font-family:IRANSansWeb;}
.mm-ocd--open{bottom:0;background:rgba(0, 0, 0, .25);-webkit-transition-delay:0s;-o-transition-delay:0s;transition-delay:0s}
.mm-ocd__content{position:absolute;top:0;bottom:0;z-index:2;width:80%;width:var(--mm-ocd-width);min-width:200px;min-width:var(--mm-ocd-min-width);max-width:440px;max-width:var(--mm-ocd-max-width);background:#fff;-webkit-transition-property:-webkit-transform;transition-property:-webkit-transform;-o-transition-property:transform;transition-property:transform;transition-property:transform, -webkit-transform;-webkit-transition-duration:.3s;-o-transition-duration:.3s;transition-duration:.3s;-webkit-transition-timing-function:ease;-o-transition-timing-function:ease;transition-timing-function:ease}
.mm-ocd--left .mm-ocd__content{left:0;-webkit-transform:translate3d(-100%, 0, 0);transform:translate3d(-100%, 0, 0)}
.mm-ocd--right .mm-ocd__content{right:0;-webkit-transform:translate3d(100%, 0, 0);transform:translate3d(100%, 0, 0)}
.mm-ocd--open .mm-ocd__content{-webkit-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);}
.mm-ocd__backdrop{position:absolute;top:0;bottom:0;z-index:3;width:calc(100% - 80%);width:calc(100% - var(--mm-ocd-width));min-width:calc(100% - 440px);min-width:calc(100% - var(--mm-ocd-max-width));max-width:calc(100% - 200px);max-width:calc(100% - var(--mm-ocd-min-width));background:rgba(3, 2, 1, 0)}
.mm-ocd--left .mm-ocd__backdrop{right:0}
.mm-ocd--right .mm-ocd__backdrop{left:0}
.mm-spn,
.mm-spn a,
.mm-spn li,
.mm-spn span,
.mm-spn ul{display:block;padding:0;margin:0;-webkit-box-sizing:border-box;box-sizing:border-box}
:root{--mm-spn-item-height:50px;--mm-spn-item-indent:20px;--mm-spn-line-height:24px}
.mm-spn{width:100%;height:100%;-webkit-tap-highlight-color:transparent;-webkit-overflow-scrolling:touch;overflow:hidden;-webkit-clip-path:inset(0 0 0 0);clip-path:inset(0 0 0 0);-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}
.mm-spn ul{-webkit-overflow-scrolling:touch;position:fixed;top:0;left:100%;bottom:0;z-index:2;width:130%;padding-right:30%;line-height:24px;line-height:var(--mm-spn-line-height);overflow:visible;overflow-y:auto;background:inherit;-webkit-transition:left .3s ease 0s;-o-transition:left .3s ease 0s;transition:left .3s ease 0s;cursor:default}
.mm-spn ul:after{content:'';display:block;height:50px;height:var(--mm-spn-item-height)}
.mm-spn>ul{left:0}
.mm-spn ul.mm-spn--open{left:0}
.mm-spn ul.mm-spn--parent{left:-30%;overflow-y:hidden}
.mm-spn li{position:relative;background:inherit;cursor:pointer; direction:rtl;text-align:right;font-size:13px;width: 95%;background-color: #fff;
padding: 5px 10px;display: block;border-radius: 4px;color:  #505050;box-shadow: 0 0 10px rgba(0,0,0,.2);margin: 5px auto; height: 40px;}
.mm-spn li:before{content:'';display:block;position:absolute;top:25px;top:calc(var(--mm-spn-item-height)/4);left:25px;left:calc(var(--mm-spn-item-height)/2);z-index:0;width:8px;height:8px;border-top:2px solid;border-right:2px solid;-webkit-transform:rotate(-135deg) translate(0, -50%);-ms-transform:rotate(-135deg) translate(0, -50%);transform:rotate(-135deg) translate(0, -50%);}
.mm-spn li:after{content:'';display:block;margin-left:20px;margin-left:var(--mm-spn-item-indent);opacity:.5}
.mm-spn a,
.mm-spn span{position:relative;z-index:1;padding:5px 2px;/*padding:calc((var(--mm-spn-item-height) - var(--mm-spn-line-height))/2) var(--mm-spn-item-indent)*/}
.mm-spn a{background:inherit;color:inherit;text-decoration:none;direction:rtl;text-align:right;font-size:13px;}
.mm-spn a:not(:last-child){width:calc(100% - 50px);width:calc(100% - var(--mm-spn-item-height))}
.mm-spn a:not(:last-child):after{content:'';display:block;position:absolute;top:0;right:0;bottom:0;border-right:1px solid;}
.mm-spn span{background:0 0;display: inline-block;}
.mm-spn.mm-spn--navbar{cursor:pointer}
.mm-spn.mm-spn--navbar:before{content:'';display:block;position:absolute;top:121px;/*top:calc(var(--mm-spn-item-height)/4);*/left:20px;left:var(--mm-spn-item-indent);width:10px;height:10px;margin-top:2px;border-top:2px solid;border-left:2px solid;-webkit-transform:rotate(-45deg) translate(50%, -50%);-ms-transform:rotate(-45deg) translate(50%, -50%);transform:rotate(-45deg) translate(50%, -50%);opacity:.8;}
.mm-spn.mm-spn--navbar.mm-spn--main{cursor:default}
.mm-spn.mm-spn--navbar.mm-spn--main:before{content:none;display:none}
.mm-spn.mm-spn--navbar:after{content:attr(data-mm-spn-title);display:block;/*position:absolute;*/top:0;left:0;right:0;height:50px;height:var(--mm-spn-item-height);padding:0 40px;padding:0 calc(var(--mm-spn-item-indent) * 2);line-height:50px;line-height:var(--mm-spn-item-height);text-align:center;overflow:hidden;white-space:nowrap;-o-text-overflow:ellipsis;text-overflow:ellipsis}
.mm-spn.mm-spn--navbar.mm-spn--main:after{padding-left:20px;padding-left:var(--mm-spn-item-indent)}
.mm-spn.mm-spn--navbar ul{top:51px;top:calc(var(--mm-spn-item-height) + 1px)}
.mm-spn.mm-spn--navbar ul:before{content:'';display:block;position:fixed;top:inherit;z-index:2;width:100%;/*border-top:1px solid currentColor;*/opacity:.5}
.mm-spn.mm-spn--light{color:#505050;background: linear-gradient(90deg, rgb(246, 250, 252) 0%, rgb(237, 237, 237) 50%, rgb(255, 255, 255) 100%);}
.mm-spn.mm-spn--dark{color:#ffffff;background: #505050}
.mm-spn.mm-spn--vertical{overflow-y:auto}
.mm-spn.mm-spn--vertical ul{width:100%;padding-right:0;position:static}
.mm-spn.mm-spn--vertical ul ul{display:none;padding-left:20px;padding-left:var(--mm-spn-item-indent)}
.mm-spn.mm-spn--vertical ul ul:after{height:25px;height:calc(var(--mm-spn-item-height)/2)}
.mm-spn.mm-spn--vertical ul.mm-spn--open{display:block}
.mm-spn.mm-spn--vertical li.mm-spn--open:before{-webkit-transform:rotate(135deg) translate(-50%, 0);-ms-transform:rotate(135deg) translate(-50%, 0);transform:rotate(135deg) translate(-50%, 0)}
.mm-spn.mm-spn--vertical ul ul li:last-child:after{content:none;display:none}
.mm-spn li .fa { display: inline-block; margin-left: 7px; padding-left: 7px; border-left: 1px solid #aaa; font-size: 15px; vertical-align: middle; min-width: 16px; text-align: center; }
.mm-spn--open { margin-top: 120px !important; }}

* {
    scrollbar-width: thin;
    scrollbar-color: #dc2c2b #fdc43e;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 10px;
  }
  
  *::-webkit-scrollbar-track {
    background: #fdc43e;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #dc2c2b;
    border-radius: 20px;
    border: 2px solid #fdc43e;
  }
